@model ProyectoFinal.Models.Course
@{Layout="_Layout";}
<h2>Eliminar Curso</h2>
<form method="post">
<p>¿Eliminar <strong>@Model.Name</strong>?</p>
<button class="btn btn-danger">Eliminar</button>
<a href="/Courses" class="btn btn-secondary">Cancelar</a>
</form>